<% if(!username) { %>
  <form action="/login" method="post">
    <input type="email" name="email" >
    <input type="submit" value="Sign In" >
  </form>
<% }else { %>
<h2><%= email %></h2>
<form action="/logout" method="post">
  <input type="submit" value="Sign Out">
</form>
<% } %>