<% if(!user.id) { %>
  <a href="/login">LogIN</a> | <a href="/register">SignUP</a>
<% }else { %>
<h2><%= user.email %></h2>
<form action="/logout" method="post">
  <input type="submit" value="Sign Out">
</form>
<% } %>