      <label for="email">Email</label>
      <input required type="email" id="email" name="email" />
      <label for="password">Pass<em>phrase</em>:</label>
      <input required minlength="4" type="password" id="password" name="password" />
