 <!DOCTYPE html>
<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>
    <% if(error) {%>
      <h4><%= error %></h4>
    <% } %>
    <div></div>
    <img src="/images/dogs-401.jpg" />
  </body>
</html>