<!DOCTYPE html>
<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>
    <h1>Login</h1>
    <% if(error) {%>
      <h4><%= error %></h4>
    <% } %>
    <form action="/login" method="post">
      <% include partials/_inner_user_form %>
    </form>
  </body>
</html>