<!DOCTYPE html>
<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>
    <h1>Register</h1>
    <% if(error) {%>
      <h4><%= error %></h4>
    <% } %>
    <form action="/register" method="post">
      <% include partials/_inner_user_form %>
      <p>Make sure your passphrase is something you will remember... "ilikenewyorkslicepizza" for example</p>
      <button type="submit">Register</button>
    </form>
  </body>
</html>
