<!DOCTYPE html>
<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <form action="/register" method="post">
      <label for="email">Email</label>
      <input required="true" type="email" id="email" name="email" />
      <label for="password">Password:</label>
      <input required="true" minlength="4" type="password" id="password" name="password" />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
