<!DOCTYPE html>
<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header.ejs %>
    <ul>
    <% for(let shortURL in urlDatabase) { %>
      <li>
          <form action="/urls/<%= shortURL %>/delete" method="POST">
            <label>
              <a href="/urls/<%= shortURL %>"><%= urlDatabase[shortURL] %></a>
              <a href="/urls/<%= shortURL %>">Edit</a>
              <input type="submit" name="delete_input" value="X">
            </label>
          </form>
      </li>
    <% } %>
    </ul>
  </body>
</html>
