<!DOCTYPE html>
<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header.ejs %>
    <% if(typeof urlDatabase !== "undefined" && urlDatabase.length > 0) { %>
    <h2><a href="/urls/new">Create a New Short Link</a></h2>
    <ul>
    <% for(let urlObj of urlDatabase) { %>
      <li>
          <form action="/urls/<%= urlObj.shortURL %>/delete" method="POST">
            <label>
              <a href="/urls/<%= urlObj.shortURL %>"><%= urlObj.longURL %></a>
              <a href="/urls/<%= urlObj.shortURL %>">Edit</a>
              <input type="submit" name="delete_input" value="X">
            </label>
          </form>
      </li>
    <% } %>
    </ul>
    <% }else if(userLoggedIn) {%>
      <h3>Hey, you should get some URLs linked to by <a href="/urls/new">Creating a New Short Link</a></h3>
    <% } else {%>
      <h3>Sorry - you must <a href="/register">Sign Up</a> or <a href="/login">Log In</a> to use TinyURL</h3>
    <% } %>
  </body>
</html>
